.idea/
.env/
results/
*env*/
venv2/
venv3/
.pytest_cache/
__pycache__
*.DS_Store
*.apk
*.html
screenshots*/
assets.zip
assets/
report*
player.xml
mitmproxy_data/
chromedriver
chromedriver*
chromedrivers/
pytest.ini
